<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysMenuDao">
<select id="findPermissions"
           resultType="string">
       select permission <!-- sys:user:update -->
       from sys_menus
       where id in 
       <foreach collection="menuIds"
                open="("
                close=")"
                separator=","
                item="item">
            #{item}
       </foreach>
   </select>
	<select id="findObjects" resultType="map">

		<!-- 方案1 select c.*,p.name parentName from sys_menus c left join sys_menus 
			p on c.parentId=p.id -->
		<!-- 方案2 -->
		select c.*,(
		select p.name
		from sys_menus p
		where c.parentId=p.id
		) parentName
		from sys_menus c

	</select>
	<select id="findZtreeMenuNodes"
		resultType="com.cy.pj.common.vo.Node">
		select id,name,parentId
		from sys_menus
	</select>
	<select id="getChildCount" parameterType="int" resultType="int">
		select count(*)
		from sys_menus
		where parentId=#{id}
	</select>
	<delete id="deleteObject">
		delete from sys_menus
		where id =#{id}

	</delete>
	<insert id="insertObject"
            parameterType="com.cy.pj.sys.entity.SysMenu">
          insert into sys_menus
          (name,url,type,sort,note,parentId,permission,
createdTime,modifiedTime,createdUser,modifiedUser)
          values
          (#{name},#{url},#{type},#{sort},#{note},#{parentId},
#{permission},now(),now(),#{createdUser},#{modifiedUser})
 </insert>
 <update id="updateObject"
            parameterType="com.cy.pj.sys.entity.SysMenu">
         update sys_menus
         set
           name=#{name},
           type=#{type},
           sort=#{sort},
           url=#{url},
           parentId=#{parentId},
           permission=#{permission},
           modifiedUser=#{modifiedUser},
           modifiedTime=now()
        where id=#{id}
    </update>
 
</mapper>